<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Snickers{% endblock title %}</title>
</head>
<nav>
    <a href="{% url 'home' %}">Snickers Home</a>
    <a href="{% url 'about' %}">Snickers About</a>
    <a href="{% url 'khome' %}">KitKat Home</a>
    <a href="{% url 'kabout' %}">KitKat About</a>
</nav>
<body>
    <h1>
    {% block content %}    
    {% endblock content %} 
    </h1>
</body>
</html>